/*CATEGORY PERFORMANCE CHARTS STYLES*/

/*CONTAINER*/
.category-perfomance-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

