/*GENERAL LAYOUT*/
.section-spacing {
    margin-bottom: 1.5rem;
}

.section-padding {
    padding: 1.5rem;
}

/*LOADING SPINNER*/
.spinner-md {
    width: 2rem;
    height: 2rem;
    border-top-color: #2563eb;
}