/* SALES TRENDS STYLES */

/*CONTAINER*/
.sales-trends-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    box-sizing: bordr-box;
    overflow-x: hidden;
}