/* SALES TRENDS STYLES */

/*CONTAINER*/
.sales-trends-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    box-sizing: bordr-box;
    overflow-x: hidden;
}

/*HEADER SECTION*/
.sales-trends-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 640px) {
    .sales-trends-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}